# Dependencies
node_modules
package-lock.json
yarn.lock

# Build
dist
build

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
*.log

# Testing
coverage
.nyc_output

# Prisma
prisma/dev.db
prisma/dev.db-journal

# OS
Thumbs.db
.DS_Store

# Uploads
uploads/*
!uploads/.gitkeep
